<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <a th:href="@{/customer-list}">List Customer</a>
    <br/> <br/>

    <h1>Edit Customer</h1>
    <form th:action="@{/updateCustomer}" method="post" th:object="${customer}">
        Id: <input th:field="*{id}" readonly="true" /> <br/> <br/>
        Name: <input th:field="*{name}" /> <br/> <br/>
        Address: <input th:field="*{address}" /> <br/> <br/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>